@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');


:root{
  --gradient:  linear-gradient(to right, 
    #a960ee,
    #ff333d,
    #90e0ff,
    #ffcb57,
    #a960ee, 
    #ff333d,
    #90e0ff,
    #ffcb57
  );
}

body{
  background: beige;
  background-image: var(--gradient);
  background-size: 400%;
  animation: fondo-anim 50s infinite alternate;
  height: 100vh;
}

@keyframes fondo-anim{
  25%{background-position: left;} /*por defecto*/
  25%{background-position: top;} /*por defecto*/
  50%{background-position: right;}
}

code {
  font-family: 'Space Mono', monospace;
}
.contenedores {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100hv;
  height: 100vh;
  align-content: center;
}
.contenedor{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  font-family: 'Space Mono', monospace;
  background: white;
  width: 80vw;
  padding: 3em;
  box-shadow: 4px 3px 1em 0px rgb(0 0 0 / 0%);
  margin: 6rem 2rem;
  text-align: center;
  border-radius: 11px;
}

.contenedor__titulo{
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.8rem;
  color: #fff;
  margin: 0 0 0.5em;
  color: #ee6352;
  background-image: var(--gradient);
  -webkit-background-clip: text;
  color: transparent;
  background-size: 400%;
  animation: fondo-anim 5s infinite alternate; 
}